#darkModeToggle {
    background: transparent url("../images/moon.png") no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    transition: var(--standardTransition);
  }

  #darkModeToggle:focus {
    border: none;
  }
  
  #darkModeToggle:hover {
    background-color: var(--black);
    cursor: pointer;
  }
  
  #darkModeToggle.clicked {
    background-image: url('../images/sun.png');
    background-color: transparent;
  }

  #darkModeToggle.clicked:hover {
      background-color: var(--white);
  }