.header {
    padding: 1.5em 0 1em;
    position: relative;
}

.header_github {
    background: transparent var(--github-logo) no-repeat center;
    background-size: 30px 30px;
    width: 45px;
    height: 45px;
    border: none;
    transition: var(--standardTransition);
    position: absolute;
    top: 5vh;
    left: 3vw;
}

.header_github:hover {
    cursor: pointer;
}

.header_text {
    font-size: 5em;
    font-weight: 700;
    font-family: var(--headerFont);
    line-height: 1;
    text-align: center;
    margin: 0 15%;
}

#darkModeToggle {
    position: absolute;
    top: 5vh;
    right: 3vw;
}

@media only screen and (max-width: 900px) {
    .header_text {
        font-size: 4em;
    }
}

@media only screen and (max-width: 350px){
    .header_text {
        font-size: 3em;
    }
  }
  