.input {
    margin-top: 15vh;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.word_input_container {
    display: flex; 
    flex-direction: column;
}

.input_word, .search_container {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    height: 50px;
    font-size: 1.2rem;
    font-family: var(--textFont);
    font-weight: 500;
    border-radius: 4px;
    border: var(--input-border);
    outline: 0;
    padding: 2px 8px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input_word {
    width: 300px;
    transition-property: background-color, color, border;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.search_container, .input_search {
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

.search_container {
    display: flex;
    align-items: center;
    background-color: var(--input-bg-color);
    width: 115px;
}

.search_container:hover {
    background-color: var(--hover-color);
}

.search_container:hover .input_search {
    background-color: var(--hover-color);
}

.input_search {
    background-color: var(--input-bg-color);
    font-size: 1.2rem;
    border: none;
    font-family: var(--textFont);
    font-weight: 500;
    color: var(--input-text-color);
    padding-left: 0;
}

.search_icon {
    background: var(--search-icon);
    height: 25px;
    width: 25px;
    transition: all 0.3s ease-in-out;
}

::placeholder {
    color: var(--placeholder-color);
    opacity: 1; /* Firefox */
}

::-ms-input-placeholder {
    color: var(--placeholder-color);
}

@media only screen and (max-width: 900px){
    .input {
        margin-top: 5vh;
        margin-bottom: 7vh;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input_word {
        width: 310px;
    }

    .search_container {
        width: 310px;
        justify-content: center;
        margin-top: 8px;
    }
  }
  