.input {
    margin-top: 15vh;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.input > * {
    margin: 0 0.2rem;
}


.input_word, .search_container {
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    height: 50px;
    font-size: 1.2rem;
    font-family: var(--textFont);
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    outline: 0;
    padding: 2px 8px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input_word {
    width: 300px;
}

.search_container, .input_search {
    cursor: pointer;
    /* background-color: var(--darkorange); */
}

.search_container {
    display: flex;
    align-items: center;
    background-color: var(--input-bg-color);
}

.input_search {
    background-color: var(--input-bg-color);
    font-size: 1.2rem;
    border: none;
    font-family: var(--textFont);
    font-weight: 500;
    color: var(--input-text-color);
    padding-left: 0;
}

.search_icon {
    background: var(--search-icon);
    height: 25px;
    width: 25px;
}