.audioIcon {
    height: 25px;
    width: 25px;
    margin-left: 0.5rem;
    color: white;
    background: var(--audio-icon);
    transition: var(--standardTransition);
}

.audioIcon:hover {
    cursor: pointer;
}