@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --darkBlack: #0d141f;
  --black: #282C34;
  --darkGrey: #4e5565;
  --grey: #6f7990;
  --lightGrey: #C5C5C5;
  --white: #ececec;
  --lightWhite: #ffffff;
  --darkerOrange: #d45231;
  --darkOrange: #e07155;
  --lightOrange: rgb(221, 122, 97);
  --placerholderColorLight: #a3a3a3;
  --placerholderColorDark: grey;
  --headerFont: 'Gelasio', serif;
  --textFont: 'Gelasio', serif;
  --audioIconBlack: url("images/audio_black.png");
  --audioIconWhite: url("images/audio_white.png");
  --searchIconBlack: url("images/search_black.png");
  --searchIconWhite: url("images/search_white.png");
  --arrowDownBlack: url("images/arrow_down_black.png");
  --arrowDownWhite: url("images/arrow_down_white.png");
  --fishLoaderBlack: url("images/loader_fish_black.svg");
  --fishLoaderWhite: url("images/loader_fish_white.svg");
  --githubBlack: url("images/github_dark.png");
  --githubWhite: url("images/github_light.png");
  --puddleWhite: url("images/puddle_light.png");
  --puddleBlack: url("images/puddle_dark.png");
  --standardTransition: all 0.3s ease-in-out;
  --inputBorder: 1px solid hsl(0, 0%, 80%);
  --outputBorderGradientLight: linear-gradient(90deg, rgba(40,44,52,0) 0%, rgba(40,44,52,0) 30%, rgba(40,44,52,1) 100%);
  --outputBorderGradientDark: linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(236,236,236,0) 30%, rgba(236,236,236,1) 100%);
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition: var(--standardTransition);
  font-family: var(--textFont);
  box-sizing: border-box;
}

body.light {
  --background-color: var(--white);
  --input-bg-color: var(--white);
  --text-color: var(--black);
  --input-text-color: var(--black);
  --input-border: var(--inputBorder);
  --background-accent-color: var(--lightOrange);
  --text-accent-color: var(--darkerOrange);
  --hover-color: var(--lightGrey);
  --audio-icon: var(--audioIconBlack);
  --search-icon: var(--searchIconBlack);
  --arrow-down-icon: var(--arrowDownBlack);
  --select-scrollbar: var(--lightWhite);
  --select-scrollbar-thumb: var(--lightGrey);
  --loading-gif: var(--fishLoaderBlack);
  --output-border: var(--black);
  --output-gradient-border: var(--outputBorderGradientLight);
  --placeholder-color: var(--placerholderColorLight);
  --github-logo: var(--githubBlack);
  --puddle-icon: var(--puddleBlack);
}

body.dark {
  --background-color: var(--black);
  --input-bg-color: var(--black);
  --text-color: var(--white);
  --input-text-color: var(--white);
  --input-border: var(--inputBorder);
  --background-accent-color: var(--darkerOrange);
  --text-accent-color: var(--lightOrange);
  --hover-color: var(--darkGrey);
  --audio-icon: var(--audioIconWhite);
  --search-icon: var(--searchIconWhite);
  --arrow-down-icon: var(--arrowDownWhite);
  --select-scrollbar: var(--darkBlack);
  --select-scrollbar-thumb: var(--darkGrey);
  --loading-gif: var(--fishLoaderWhite);
  --output-border: var(--white);
  --output-gradient-border: var(--outputBorderGradientDark);
  --placeholder-color: var(--placerholderColorDark);
  --github-logo: var(--githubWhite);
  --puddle-icon: var(--puddleWhite);
}

.App {
  padding: 0 5vw;
}

@media only screen and (max-width: 900px){
  .App {
    padding: 0;
  }
}
